<p>Wiadomośc z panelu DymCode.</p>
<p>Usługa: {{ form.service }}</p>
<p>Powód: {{ form.reason }}</p>
<p>Konto: {{ user.email }}
<p>Temat wiadomości: {{ form.subject }}</p>
<p></p>
<p>{{ form.text }}</p>