<h1>Witaj {{ user }}!</h1>

<p>
    Twój samochód {{ vehicle_name }} o numerze rejestracyjnym {{ vehicle_register }} za {{ remained }} dni {{ text }}
    Dokładna data to: {{ date }}
</p>
<p>
    <span class="text-muted">Oprogramowanie <a href="https://www.pojsoft.pl">PojSoft</a> firmy <a href="https://www.DymCode.eu">DymCode</a>.</span>
</p>